* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #818181;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

li, a , button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #ffffff;
  box-shadow: 2px 12px 88px 6px rgba(0,0,0,0.75);
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

nav {
  order: 1;
}

.navbar {
  list-style: none;
  background-color: #ffffff;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #0088a9;
}

.nav-btn {
  order: 2;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.7);
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  .logo {
    order: 1;
    margin: auto;
  }

  nav {
    order: 2;
    margin: 5px auto;
  }

  .nav-btn {
    order: 3;
  }

  button {
    margin: 5px auto;
  }
}